.container{
  display: flex;
  align-items: flex-start;
  flex-direction:column;
  width:1200px;
  overflow: hidden;
  

}
.image{
  object-fit:cover;
  width:     calc(100%);
  transition: 0.3s;
  
 

}
.image:hover {
  transform: scale(1.1);
}
.main{
  display:flex;
  
}
