.innerdiv{
   
    padding:30px;
    display:flex;
    flex-direction: column;
    
   
    
}
.innerdiv>div{
    padding:5px;
}
.outerdiv{
    background-color: #E6E6E6;
    display:flex;
    justify-content: flex-start;
    
}